<!DOCTYPE html>
<html>

<head>
  <title>ADM CMS</title>
  <meta charset="utf-8">
  <link rel="icon" href="data:,">
  <link rel="stylesheet" href="/stylesheets/application.css">
</head>

<body>
  <header class="flash-message" <%= "hidden" unless session[:success] || session[:error] %>>
    <% if session[:success] %>
      <div class="flash success">
        <p><%= session.delete(:success) %></p>
      </div>
    <% elsif session[:error] %>
      <div class="flash error">
        <p><%= session.delete(:error) %></p>
      </div>
    <% end %>
  </header>

  <main>
    <%= yield %>
  </main>

</body>
</html>