body {
  padding: 1em;
  font-size: medium;
  font-family: sans-serif
}

.file_content {
  font-family: Arial, sans-serif
}

.flash-message {
  padding: 10px;
  background-color: #FFFF99;
}

li > form {
  display: inline;
}

li {
  margin: 0.2em;
}

button {
  padding: 3px;
  margin: 5px;
}