body {
  padding: 1em;
  font-size: medium;
  font-family: sans-serif
}

.file_content {
  font-family: Arial, sans-serif
}

.flash-message {
  padding: 10px;
  background-color: #FFFF99;
}

form.inline {
  display: inline;
}

li {
  margin: 0.2em;
}

button {
  padding: 3px;
  margin: 5px;
}

button a {
  text-decoration-line: none;
  color: black;
}

.sign-in-notice {
  margin-top: 5em;
  font-style: italic;
}
